@model BrandDto

<h1>@(Model.BrandId == 0 ? "Thêm Mới" : "Chỉnh Sửa") Danh Mục</h1>

<form asp-action="@(Model.BrandId == 0 ? "Create" : "Edit")">
    <input asp-for="BrandId" type="hidden" />

    <div class="form-group">
        <label asp-for="Name">Tên Brand</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Lưu</button>
    <a asp-action="ListBrand" class="btn btn-secondary">Quay Lại</a>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}